# Kaggle dataset download
KAGGLE_USERNAME="My_kaggle_username"
KAGGLE_KEY="My_kaggle_token"

# DOCS Address
DOCS_LOCAL_ADDRESS="localhost:9000"

# Training environment
TRAIN_DEVICE="cuda"
USE_AMP="false"

# model dir in models/
ACTIVE_MODEL_DIR="latent-stable-model_v1"
