# CORE
numpy 
pandas 

# TOOLS
black
flake8
isort
loguru
pip
python-dotenv
hydra-core
hydra-optuna-sweeper

# API
fastapi[all]
pydantic

# CLI
typer
tqdm

# DATA
opencv-python
kagglehub
albumentations
torchvision

# VISUALISATION AND METRICS
scikit-learn
torchmetrics
matplotlib

# MODELS
torch
optuna
onnx
onnxruntime
onnx-simplifier

# DOCUMENTATION
mkdocs
mkdocs-material

# TESTS
pytest
pytest-cov

# PROJECT
-e .